.section-subtitle {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    width: 60%;
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }